version: '3.7'

services:

  daemon:
    container_name: coingraph-daemon
    image: derogab/coingraph-daemon:dev
    volumes:
      - './daemon/data:/usr/src/app/data'
    ports:
      - '8080:8080'
      - '8081:8081'
    env_file:
      - ./daemon/.env

  client:
    container_name: coingraph-client
    depends_on:
      - daemon
    links:
      - daemon
    image: derogab/coingraph-client:dev
    ports:
      - '3000:80'
    env_file:
      - .env
