.box-graph{
    margin: 5px;
    border: 1px solid #2c3e50;
    padding: 25px 10px 25px 10px;
    border-radius: 3px;
}

.box-data{
    margin: 5px;
    border: 1px solid #2c3e50;
    padding: 25px 10px 25px 10px;
    border-radius: 3px;
}