.downhill{
    border: 1px solid #c0392b !important;
    color: #ecf0f1;
    background-color: #c0392b;
}

.uphill{
    border: 1px solid #27ae60 !important;
    color: #ecf0f1;
    background-color: #27ae60;
}

.nohill{
    border: 1px solid #2c3e50 !important;
    color: #ecf0f1;
    background-color: #1e272e;
}