.downhill{
    border: 1px solid var(--theme-value-box-danger-background) !important;
    color: var(--theme-value-box-danger-text);
    background-color: var(--theme-value-box-danger-background);
}

.uphill{
    border: 1px solid var(--theme-value-box-success-background) !important;
    color: var(--theme-value-box-success-text);
    background-color: var(--theme-value-box-success-background);
}

.nohill{
    border: 1px solid var(--theme-value-box-default-text) !important;
    color: var(--theme-value-box-default-text);
    background-color: var(--theme-value-box-default-background);
}
